nav {
  color: #fff;
  background-color: #1db954;
  height: 7vh;
}

.brand-logo {
  vertical-align: middle;
}

.main {
  background-color: rgba(#b8d9c4, 0.55);
  min-height: 93vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1db954;
}