$spotify: #1db954;
$color-ligth: #fff;
$align-center: center;

nav {
  color: $color-ligth;
  background-color: $spotify;
  height: 7vh;
}

.brand-logo {
  vertical-align: middle;
}

.main {
  background-color: rgba($spotify, 0.15);
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: $align-center;
  justify-content: $align-center;
  font-size: calc(10px + 2vmin);
  color: $spotify;
}